#buttonDiv {
    display: block;
    width: 400px;
    height: 50px;
    background-color: yellow;
    text-align: center;
}
#start {
    background:url(./images/button_image.png) no-repeat;
    cursor:pointer;
    border:none;
    width:50px;
    height: 50px;

}